body{
    background-color: purple;
}

h1{
    font-size: 45px;
    color: white;
    font-family: 'Notable', sans-serif;
    text-align: center;
    padding: 15px;
}

img{
    width: 200px;
    height: 200px;
}

.nav{
    background-color: silver;
}

.nav a{
    display: block;
    background-color: skyblue;
    color: white;
}

.nav a:hover{
    background-color: teal;
    color: red